.button{
    padding: 20px 20px;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top:20%;
    position: fixed;
    margin-left:39%;
}
.button1{

    padding:20px;
    margin-right:30px;
    font-size: large;

}
.button2{
    padding:20px;
    font-size: large;
}

.button1:hover{
background-color: rgb(87, 235, 76);
cursor: pointer;
}

.button2:hover{
    background-color: rgb(87, 235, 76);
    cursor: pointer;
}